<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card >
    <br>
    <ion-card-header >
      <ion-card-title style="text-align: center;">Vehicle Identification Number</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item class="ion-text-center" lines="full" >
        <ion-input type="text" maxlength="17" placeholder="Insert code here"></ion-input>
      </ion-item>
      
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button fill="outline" class="ion-margin" (click)="scanner()" size="small" expand="block">
              <ion-label>Scan</ion-label>
              <ion-icon slot="start" name="scan"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="manual()" expand="block" size="small" fill="outline" class="ion-margin">
              <ion-label>Manual</ion-label>
              <ion-icon slot="start" name="layers"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-text-center">
        <ion-button fill="outline" expand="block ">
          <ion-label>Search</ion-label>
          <ion-icon slot="start" name="search"></ion-icon>
        </ion-button>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
